.App {
  display: flex;
}

body,
span {
  font-family: "Open Sans", sans-serif;
}

.btn {
  background: #0068ff;
  border: none;
  text-align: center;
  color: #fff;
  outline: none;
  cursor: pointer;
  padding: 6px 15px;
  margin-right: 5px;
}

.btn-default {
  background: gray;
}

.btn-round {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.field {
  width: 100%;
  border-radius: 3px;
  outline: none;
  border: 1px solid gray;
  height: 30px;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.text-right {
  text-align: right;
}

ul {
  padding: 0;
  width: 100%;
}

ul li {
  list-style: none;
  margin: 15px 0;
}

.content {
  width: 100%;
  margin-left: 70px;
}

@media (max-width: 768px) {
  .content {
    margin: 0;
  }
}
